.box{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: start;
}
/* Box Finalizar */
#cep{
    margin-right: 5px;
}

/* ListProducts */
.list-products-cart{
    flex: 3;
}

.link-product-cart{
    text-decoration: none;
    color: black;
}

.product-cart{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-cart img{
    width: 100px;
    border-radius: 10px;
}

.item-product-cart{
    flex: 1;
    margin: 0 10px;
}

.product-cart input{
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.check-product{
    height: 20px;
    accent-color: #f7f4f462;
}

.group-btn{
    display: flex;
    justify-content: end;
}

.group-btn button{
    margin: 0 10px;
}

.accordion-button{
    background-color: #ffffff !important;
    color: #464444 !important;
}

@media screen and (max-width: 768px) {
    .product-cart{
        border: 1px solid rgba(0, 0, 0, 0.062);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        overflow: hidden;
    }

    .product-cart img{
        width: 100%;
        border-radius: 0px;
        margin-right: 0 !important;
    }

    .item-product-cart{
        text-align: center;
        width: 100%;
        margin: 5px 0;
    }

    .check-product{
        width: 20px !important;
        height: 20px;
        position: absolute;
    }

    .group-btn{
        justify-content: center;
    }

    .quantidade{
        margin: auto;
    }
}

/* Página de compra */

.bloco-form>div>div{
    flex: 1;
    margin: 10px;
}

.bloco-form{
    background-color: #f5f5f585;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

label{
    font-weight: bolder;
    font-style: italic;
    color: #4644449c;
}

.info-buy{
    margin-top: 50px;
    min-height: 100px;
    background-color: #f5f5f585;
    padding: 20px; 
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.info-buy div{
    flex: 2;
    min-width: 170px;
}

.images{
    min-width: 100px;
    height: 120px;
}

.info-buy img{
    height: 100px;
    border-radius: 10px;
    position: absolute;
    border-bottom: 1px solid #f5f5f585;
}

.price{
    font-size: 30px;
    font-weight: bold;
}

.value p{
    margin: 0;
    color: #464444;
}

.price-products{
    color: #000000;
}

.info-details{
    z-index: 1;
}

.info-details ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
    justify-content: center;
}

.form-compra h2{
    color: #4644449c;
    font-weight: bold;
    text-align: center;
}

.finalizarPedido{
    margin-bottom: 30px;
    background: #ff9a00;
    border: none;
}

.finalizarPedido:hover{
    background: #c07504;
    border: none;
}