.filtro{
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: right;
}

.filtro select{
    width: 250px;
    padding: 10px;
    font-size: 20px;
    color: rgb(52, 52, 52);
    /* margin: auto; */
    border-radius: 20px;
}

.produtos_menu{
    overflow: hidden;
    max-height: 329px;
    height: auto;
    transition: 1s;
}

.mostrar_mais{
    margin-top: 20px;
}

.mostrar_mais span{
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.mostrar_mais span:hover{
    background-color: #ff9a00;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.add_imagem{
    width: 50px;
    margin: 10px 50px;
}

.cabecalho_produtos{
    display: flex;
}

/* Carrocel */
.carousel{
    width: 95%;
    position: relative;
}

.carousel .switchLeft,
.carousel .switchRight{
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
    background: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 15px;
    top: 40%;
    bottom: 60%;
    border-radius: 50%;
    opacity: 0.8;
    transition: 1s;
    user-select: none;
}

.carousel .switchLeft:hover,
.carousel .switchRight:hover{
    opacity: 1;
}

.carousel .switchLeft{
    position: absolute;
    left: 10px;
}

.carousel .switchRight{
    position: absolute;
    right: 10px;
}

.carouselBox{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.slider-card{
    min-width: 340px;
    max-width: 340px;
    background-size: cover;
    transition:  0.5s ease;
    z-index: 2;
}

.card-product img{
    width: 90%;
}